:root {
    --text--theme--main   : Helvetica, Arial, Verdana;
    --colour--theme--main : #a3d698;
    --colour--theme--sub  : #9AD9B3;
    --colour--theme--grey : #dddddd;
}

body {
    display: block;
}

.banner {
    width : 100%;
    background-color: var(--colour--theme--main);
    display : flex;
    align-items : center;
    flex-wrap : wrap;
    justify-content: space-between;
}

.banner .left-panel{
    padding : 1rem 2rem 1rem 4rem;
    display : flex;
    align-items : center;
    flex-wrap : wrap;
}

.banner .image-container {
    max-width: 15rem;
    max-height: 10rem;
    padding-right: 2rem;
}

.banner .image-container img {
    width : 100%;
    max-height: 10rem;
}

.banner .left-right-panel{
    color : white;

}

.banner .right-panel{
    padding : 0.5rem 4rem;
}

.banner .right-panel button{
    border-radius : 5px;
    width : 5rem;
    height : 2.5rem;
}