:root {
    --text--theme--main   : Helvetica, Arial, Verdana;
    --colour--theme--main : #a3d698;
    --colour--theme--sub  : #9AD9B3;
    --colour--theme--grey : #dddddd;
    --colour--theme--grey--light : #eeeeee;
}

.announcement, #hiddenStudentList {
    padding : 1rem 2rem 1rem 4rem;
}

.announcement h1,#hiddenStudentList h1{
    margin-bottom: 0.2rem;
}

.each-announcement {
    background-color: var(--colour--theme--grey);
    margin-bottom: 1.5rem;
    border-radius: 11px;
    padding : 0.5rem 2rem;
}

.each-announcement .upper, .each-announcement .upper-left{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
    align-items: center;
}

.each-announcement .upper{
    margin-bottom : 1rem;
}

.each-announcement img{
    width : 1.8rem;
    height : 1.8rem;
    border-radius: 300rem;
    margin-right : 1.5rem;
}

#newAnnouncementForm {
    padding: 2rem 0rem 1rem 0rem;
}

#newAnnouncementForm #hidden-right-left {
    display: flex;
    flex-wrap : wrap;
    justify-content: center;
    align-items: center;
}

#newAnnouncementForm input, #newAnnouncementForm textarea {
    width : 100%;
    height : 2rem;
    border-radius: 1px;
    border-style : none;
    margin-bottom : 1rem;
    text-align: center;
    align-items: middle;
    background-color: var(--colour--theme--grey--light);
}

#newAnnouncementForm #hidden-right-left button{
    margin : 0 2rem;
    width : 8rem;
    height : 2rem;
    border-radius: 5px;
}

#hiddenStudentList .each-student {
    display: flex;
    flex-wrap : wrap;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
}


#hiddenStudentList .each-student img {
    width : 2.5rem;
    height : 2.5rem;
    border-radius: 300rem;
    margin-right : 1.5rem;
}

#hiddenStudentList .each-student p {
    margin : 0;
    padding : 0;
    font-size: 1rem;
}