* {
    
}

.banner {
    position:relative;
    margin : 0;
    padding : 5px 10px 5px 10px;
    border : 10px;
    background-color: #b1e9a2;
}
.banner img, .banner h1, .banner p{
    position:relative;
    color : white;
    text-shadow: 2px 2px 4px darkgray;
    font-weight: bold;
}
.banner h1, .banner p{
    display: block;
    position:absolute;
    left:100px;
    top:0px;
}