
body {
    margin: 0;
    padding: 0 0;
}

*{
    font-family: 'Montserrat', sans-serif;
}

form{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: block;
    border-radius: 10px;
    padding-bottom: 30px;
}

.input-box{
    text-align: center;
}

.input-box input, .input-box select{
    padding: 20px 0px 20px 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    width: 360px;
    margin-bottom: 20px;
}

.input-box select{
    width: 420px;
}

.input-box img{
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    width: 40px;
    z-index: 2;
}

h2{
    font-size: 45px;
    padding-top: 30px;
    font-weight: bolder;
    text-align: center;
}

.operationsButton{
    display: flex;
    text-align: center;
    justify-content: center;
}

.operationsButton input{
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin-right: 20px;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 3px;
    font-weight: bold;
}

.operationsButton input:hover{
    cursor: pointer;
    background-color: rgb(154, 150, 150);

}

.errorMessageBox{
    position: absolute;
    text-align: center;
    margin-top: -15px;
    margin-left: 95px;
    color: red;
}

/*box shadow on focus (effect)*/
input:focus , select:focus{
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 5px #aaa;
}