:root {
    --text--theme--main   : Helvetica, Arial, Verdana;
    --colour--theme--main : #a3d698;
    --colour--theme--sub  : #9AD9B3;
}

* {
    margin : 0;
    padding : 0;
    display: block;
    font-family : var(--text-theme--main);
}

.banner {
    width : 100%;
    padding : 1rem 2rem 1rem 4rem;
    background-color: var(--colour--theme--main);
    display : flex;
    justify-content: left;
    align-items : center;
    flex-wrap : wrap;
}

.banner .image-container {
    max-height: 10rem;
}

.banner img {
    width : 100%;
    max-height: 10rem;
}

.banner .right-panel{
    color : white;
    padding-left: 2rem;
}

.banner .rightmost{

}

.banner .rightmost button{
    border-radius : 3px;
}


.container {
    clear  : both;
    padding: min(5%,3rem);
}

.container p {
    margin-bottom : 3em;
}

.container h2 {
    margin-bottom : 0.3em;
}

.container .instructor {
    display : flex;
    justify-content: middle;
    align-items : center;
    flex-wrap : wrap;
}

.container .instructor p {
    margin-left : 1rem;
    margin-top: 3rem;
}

.container .instructor img {
    height : 5rem;
    border-radius: 1000px;
}
