body {
    margin: 0;
    padding: 0 0;
}

button:hover{
    cursor: pointer;
}

header{
    font-family: 'Montserrat', sans-serif;
    background: #a3d698;
    color: white;
    padding: 1px 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

header button{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
}

*{
    font-family: 'Montserrat', sans-serif;
}

dialog{
    width: 500px;
}

.create-account-form{
    text-align: center;
}

form{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: block;
    border: 1px solid black;
}

h2{
    font-size: 45px;
    padding-top: 30px;
    font-weight: bolder;
}

input, select{
    padding: 20px 0px 20px 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    width: 70%;
    margin-bottom: 25px;
    align-items: center;

}
form div{
    text-align: center;
}
.input-box-user img, .input-box-pw img{
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    width: 40px;
    z-index: 2;
}

.operations-button{
    display: flex;
    justify-content: center;
}

.operations-button input{
    font-size: 20px;
    background-color: lightgreen;
    border: 1px solid black;
    margin: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 20px;
    font-weight: bold;
    width: fit-content;
}

.operations-button input:hover{
    cursor: pointer;
    background-color: rgb(154, 150, 150);
}

.errorMessageBox{
    position: absolute;
    text-align: center;
    margin-top: -25px;
    margin-left: 85px;
    color: red;
}

table{
    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
}

thead{
    background-color: orange;    
}

tbody tr:nth-child(even){
    background-color: rgba(211, 211, 211, 0.34);
}

tbody tr:hover {
    background-color: #e5e5e5;
}

td button{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

thead th{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid black;

}

p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.submitBtn input, .backBtn input{
    width: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgreen;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.submitBtn input:hover, .backBtn input:hover{
    cursor: pointer;
}

.backBtn a:hover{
    background-color: transparent;
    cursor: pointer;
}

.view-details{
    width: fit-content;
}

/*box shadow on focus (effect)*/
input:focus , select:focus{
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 5px #aaa;
}

dialog {
    margin:auto;
}