body {
    margin: 0;
    padding: 0 0;
}

button:hover{
    cursor: pointer;
}

header{
    font-family: 'Montserrat', sans-serif;
    background: #a3d698;
    color: black;
    padding: 25px 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

header button{
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightblue;
}

*{
    font-family: 'Montserrat', sans-serif;
}

dialog{
    width: 500px;
}

.create-account-form{
    text-align: center;
}

form{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: block;
    border: 1px solid black;
}

h2{
    font-size: 45px;
    padding-top: 30px;
    font-weight: bolder;
}

input, select{
    padding: 15px 0px 15px 60px;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    width: 70%;
    margin-bottom: 15px;
    align-items: center;

}
form div{
    text-align: center;
}

.input-box-user, .input-box-pw, .input-box {
    margin-block: 10px;
} 

.input-box-user img, .input-box-pw img{
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    width: 30px;
    height: 30px;
    z-index: 2;
}

.operations-button{
    display: flex;
    justify-content: center;
}

.operations-button input{
    font-size: 20px;
    margin: 0px;
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 10px;
    font-weight: bold;
    width: fit-content;
    border-radius: 15px;
    cursor: pointer;
}

.operations-button input.back {
    border: 1px solid black;
    background-color: white;
    color:black;
}

.operations-button input.back:hover {
    border: 1px solid black;
    background-color: rgb(240, 240, 240);
    color:black;
}
.operations-button input.submit {
    background-color:#4681f4;
    color:white;
}
.operations-button input.submit:hover {
    background-color:#3c34ae;
}

.errorMessageBox{
    position: absolute;
    text-align: center;
    margin-top: -15px;
    margin-left: 80px;
    color: red;
}

.table-wrapper-full-height {
    max-height: 70vh;
}

.table-wrapper-half-height {
    max-height: 40vh;
}
.table-wrapper {
    overflow-y: auto;
    width:95%;
    margin-inline: auto;
    margin-bottom:30px;
    border: 2px solid black;
}

table caption {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    top:0px;
    position:sticky;
}

table{
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    border-radius: 10px;
}

thead{
    background-color: orange;
    top:0px;
    position: sticky;    
}

tbody tr:nth-child(even){
    background-color: rgba(211, 211, 211, 0.34);
}

tbody tr:hover {
    background-color: #e5e5e5;
}

td button{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

td{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

td:nth-last-child(2), td:last-child {
    padding-left:0px;
    width:0px;
}

thead th{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid black;
    text-align: left;
    width: fit-content;
}

/* tbody td {
    max-width: fit-content;
} */
#course-section-table thead th:nth-child(2) {
    word-wrap: break-word;
    max-width: 100px;
}
#course-section-table tbody td:nth-child(4) {
    width:fit-content;
}

#instructor-course-table tbody td:nth-child(5) {
    width:fit-content;
}

p{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.buttons{
    display: flex;
    justify-content: center;
}

.submitBtn input, .backBtn input{
    width: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: lightgreen;
    border: 2px solid black;
    margin-left: 10px;
    margin-right: 10px;
}

.submitBtn input:hover, .backBtn input:hover{
    cursor: pointer;
}

.backBtn a:hover{
    background-color: transparent;
    cursor: pointer;
}

.view-details, .edit-details{
    width: fit-content;
    padding:10px;
}

/* Button to close the view details */
#close-view {
    float:right;
}

/*box shadow on focus (effect)*/
input:focus , select:focus{
    outline: none;
    border-color: #aaa;
    box-shadow: 0 0 5px #aaa;
}

dialog {
    margin:auto;
    border: 1px solid black;
}

dialog::backdrop {
    background-color: grey;
    opacity: 50%;
}

dialog img {
    max-height:20vh;
}

dialog table {
    border: 1px solid black;
}

h3, h2 {
    display:flex;
    justify-content: center;
}